<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }

        .flex {
            display: flex;
        }

        body {
            width: 100%;
            height: 100vh;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .card {
            width: 500px;
            background: #fff;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
            border-radius: 20px;
        }

        .form_inputs {
            flex-direction: column;
            align-items: center;
            padding: 20px;
            gap: 10px;
        }

        .form_inputs input {
            width: 100%;
            padding: 7px;
            border-radius: 10px;
            outline: none;
            border: 0.5px solid rgba(0, 0, 0, 0.438);
        }

        .form_inputs textarea {
            width: 100%;

        }

        .service_details {
            /* flex-direction:  row; */
            gap: 20px;
            justify-content: center;
            align-items: center;
        }

        .service_details img {
            height: 50px;
            aspect-ratio: 1;
        }
    </style>
</head>
<body class="flex">
    <div class="card">
        <img src="/uploads/serviceimg/<%= service.image  %> " alt="">
        <h4><a href="/api/service/<%= service._id  %>">
                <%= service.name %>
            </a></h4>
        <p>
            <%= service.description %>
        </p>
    </div>
</body>
</html>